@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primario: #76ABAE;
    --color-secundario: #EEEEEE;
    --color-terciario: #222831;
    --color-cuarto: #31363F;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}
* {
    padding: 0;
    margin:0;
}

.main{

    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;    
}
body{
    box-sizing: border-box;
    background-color: var(--color-primario);
    color: var(--color-secundario);
}
.tituloh1{

padding: auto;
font-size: 2rem;
color: var(--color-secundario);
font-family: var(--fuente-montserrat);

}
.Boton-encriptar{

    
    padding: 10px 20px;
    margin: 0 5px;
    border:#222831;
    border-radius: 5px;
    color: var(--color-secundario);
    cursor: pointer;
    background-color: var(--color-primario);
    font-family: var(--fuente-krona);
    font-size: 1rem;
}


.footer{
    
    text-align: center;
    padding: 1.5rem;
    font-weight: 400;
    font-size: 1.5rem;
    background-color: var(--color-terciario);
    color: #EEEEEE;
    font-family: var(--fuente-montserrat);
}
.presentacion__enlaces_links{
    text-decoration: none;
    
}