@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --color-primario: #76ABAE;
    --color-secundario: #EEEEEE;
    --color-terciario: #222831;
    --color-cuarto: #31363F;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

*{
background:var(--color-primario);
font-weight: 200;
font-size: 1.2rem;
line-height: 150%;
padding: 0;
margin: 0;


}

.header_texto{
    background-color: var(--color-cuarto);
    padding: 1%;
    font-family: var(--fuente-montserrat);
    margin-bottom: 4%;
    color: #EEEEEE;
    align-items: center;
}

main{

    display: flex;
    margin-bottom: 5%;
    margin-left: 5%;
}

.text_area{
    font-family: var(--fuente-montserrat);
    border: none;
    color: var(--color-secundario);
    margin-top: 1%;
    text-transform: lowercase;
    resize: none;
    width: 90%;

}

::placeholder{

    color: #EEEEEE;

}
.text_area:focus{
    outline:none;
}
.mensaje-final {

    font-family: var(--fuente-montserrat);
    background: var(--color-cuarto);
    background-repeat: no-repeat;
    border: none;
    border-radius: 1rem;
    color: var(--color-secundario);
    margin: 0 auto 5%; 
    margin-left: 40%;
    
    height: 57%;
    width: 90%; 
    padding: 1rem;
    padding-bottom: 30%;
    align-items: center;
    resize: none;
    display: block;
    
}
.mensaje-final:focus{
    outline: none;
}

.botones{

    display: flex;
    margin-top: 2%;
    gap: 2%;
    display: flex;
    justify-content: center;
    width: 90%;
    
}

.boton_encriptar, .boton_desencriptar, .boton_copiar{
    flex: 1;
    padding: 0.5rem;
    background-color: transparent;
    border: 2px solid var(--color-cuarto);
    border-radius: 0.5rem;
    font-family: var(--fuente-krona);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s ease-out;
}
.boton-copiar {
    flex: 1;
    padding: 1rem;
    width: 43%;
    background-color: transparent;
    border: 2px solid var(--color-cuarto);
    border-radius: 0.5rem;
    font-family: var(--fuente-krona);
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.4s ease-out;
    
}

.boton_encriptar:hover {
    box-shadow: inset 0 0 0 1000px var(--color-secundario);
    color: var(--color-cuarto);
}
.boton_copiar:hover {
    box-shadow: inset 0 0 0 1000px var(--color-secundario);
    color: var(--color-cuarto);
}

.boton_desencriptar:hover {
    box-shadow: inset 0 0 0 1000px var(--color-secundario);
    color: var(--color-cuarto);
}

.informacion{

    font-family: var(--fuente-montserrat);
    font-size: 80%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--color-terciario);
    color: var(--color-secundario);
    text-align: center;
    padding: 1rem;
    
}

.texto_footer{
    font-family: var(--fuente-montserrat);
    background-color: var(--color-terciario);
    color: #EEEEEE;
}
.enlaces_links {
    text-decoration: none;
    
}

.enlaces_links img {

    display: block; 
    max-width: 100%; 
    height: auto; 
}


/*-------------------------------------------------------------RESPONSIVIDAD*/


/* Estilos para tablets */
@media (max-width: 768px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1rem;
    }

    .text_area {
        width: 100%;
        
       
    }
    .mensaje-final {

        background-size: 100% auto;
        margin: 2rem ;
        margin-left: 9%;
        width: 70%;
        height: 8rem;
        margin-bottom: 10%;
    }

    .informacion{
        margin-left: 13%;
    }
    .botones {
        flex-direction: column;
        gap: 1rem;
        width: 80%;
        align-items: center;
        margin-left: 7%;
    }

    .boton_encriptar, .boton_desencriptar, .boton_copiar {
        width: 100%;
    }

    
}

/* Estilos para celulares */
@media (max-width: 480px) {

    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .header_texto {
        font-size: 1.5rem;
        text-align: center;
        padding: 2%;
    }

    .text_area {
        width: 90%;
        height: 50%;
        margin-left: 3%;
        
    }
    .informacion{
        margin-top: 1%;
        text-align: center;
        margin: auto;
        margin-right: 2rem;
    }
   .mensaje-final {
    
        background-size: 100% auto;
        width: 78%; 
        height: 10rem; 
        margin-bottom: 10%;
       
    }
    .botones {
        flex-direction: column;
        margin-left: 6.5%;
        gap: 1rem;
        width: 80%;
        align-items: center;

        
    }

    .boton_encriptar, .boton_desencriptar, .boton_copiar {
        width: 100%;
    }

    footer {
        font-size: 1rem;
        padding: 2%;
        position: fixed;
        bottom: 0;
        width: 100%;
    }

    
}
